-
  const catalogPlotters = [
    {
      name: "Jinka JK-365 PE",
      price: "Нет в наличии",
      img: {
        src: "jinka_jk-365_pe.jpg",
        width: "",
        height: "",
        alt: "Плоттер Jinka JK-365 PE"
      },
      dbID: "1",
      id: "plotters-jinka-pe"
    },
    {
      name: "Jinka JK-721 PE",
      price: "35 000 р.",
      img: {
        src: "jinka_jk-721_pe.jpg",
        width: "",
        height: "",
        alt: "Плоттер Jinka JK-721 PE"
      },
      dbID: "2"
    },
    {
      name: "Jinka JK-721 PE Pro",
      annotation: "(с автоматической контурной резкой)",
      price: "44 000 р.",
      img: {
        src: "jinka_jk-721_pe_pro.jpg",
        width: "",
        height: "",
        alt: "Плоттер Jinka JK-721 PE Pro"
      },
      dbID: "12"
    },
    {
      name: "Jinka JK-1101 PE",
      price: "39 000 р.",
      img: {
        src: "jinka_jk-1101_pe.jpg",
        width: "",
        height: "",
        alt: "Плоттер Jinka JK-1101 PE"
      },
      dbID: "3",
    },
    {
      name: "Jinka JK-1101 PE Pro",
      price: "49 000 р.",
      img: {
        src: "jinka_jk-1101_pe_pro.jpg",
        width: "",
        height: "",
        alt: "Плоттер Jinka JK-1101 PE Pro"
      },
      dbID: "13"
    },
    {
      name: "Jinka JK-1351 PE",
      price: "42 000 р.",
      img: {
        src: "jinka_jk-1351_pe.jpg",
        width: "",
        height: "",
        alt: "Плоттер Jinka JK-1351 PE"
      },
      dbID: "4",
    },
    {
      name: "Jinka JK-1351 PE Pro",
      annotation: "(с автоматической контурной резкой)",
      price: "49 000 р.",
      img: {
        src: "jinka_jk-1351_pe_pro.jpg",
        width: "",
        height: "",
        alt: "Плоттер Jinka JK-1351 PE Pro"
      },
      dbID: "14"
    },
    {
      name: "Rabbit HX 1360N",
      price: "41 000 р.",
      img: {
        src: "rabbit_hx_1360n.webp",
        width: "",
        height: "",
        alt: "Плоттер Rabbit HX 1360N"
      },
      dbID: "5",
      id: "plotters-rabbit-n"
    },
    {
      name: "Rabbit HX 1360K3",
      price: "Нет в наличии",
      img: {
        src: "rabbit_hx_1360k3.jpg",
        width: "",
        height: "",
        alt: "Плоттер Rabbit HX 1360K3"
      },
      dbID: "6",
      id: "plotters-rabbit-k"
    },
    {
      name: "Rabbit HX 1780K3",
      price: "Нет в наличии",
      img: {
        src: "rabbit_hx_1780k3.jpg",
        width: "",
        height: "",
        alt: "Плоттер Rabbit HX 1780K3"
      },
      dbID: "7",
    },
     {
      name: "Jinka XL-1101",
      price: "37 600 р.",
      img: {
        src: "jinka_xl-1101.jpg",
        width: "",
        height: "",
        alt: "Плоттер Jinka XL-1101"
      },
      dbID: "8",
      id: "plotters-jinka-xl"
    },
    {
      name: "Jinka XL-1661",
      price: "",
      img: {
        src: "jinka_xl-1661.jpg",
        width: "",
        height: "",
        alt: "Плоттер Jinka XL-1661"
      },
      dbID: "9",
    },
    {
      name: "TH 38 PA с выдвижным столом",
      price: "26 500 р.",
      img: {
        src: "th_38_pa.jpg",
        width: "",
        height: "",
        alt: "Термопресс TH 38 PA"
      },
      dbID: "17",
    },
    {
      name: "Термопресс Heat Press 38/38",
      price: "31 000 р.",
      img: {
        src: "thj-38.jpg",
        width: "",
        height: "",
        alt: "Термопресс THJ-38"
      },
      dbID: "10",
      id: "heat-presses"
    },
    {
      name: "Термопресс Heat Press 40/60",
      price: "44 000 р.",
      img: {
        src: "thj-45.jpg",
        width: "",
        height: "",
        alt: "Термопресс THJ-45"
      },
      dbID: "11",
    },
    {
      name: "Термопресс THJ-mug",
      annotation: "(кружечный термопресс)",
      price: "7500 р.",
      img: {
        src: "thj-mug.jpg",
        width: "",
        height: "",
        alt: "Термопресс THJ-mug"
      },
      dbID: "16",
    },
    {
      name: "Термопресс для тарелок THJ-Plate",
      price: "14 900 р.",
      img: {
        src: "heat_press_for_plates.jpg",
        width: "",
        height: "",
        alt: "Термопресс для тарелок"
      },
      dbID: "17",
    },
    {
      name: "Термопресс для кепок THJ-Cap Press",
      price: "14 500 р.",
      img: {
        src: "bulros_tc-10.jpg",
        width: "",
        height: "",
        alt: "Термопресс Bulros TC-10"
      },
      dbID: "18",
    },
    {
      name: "Горизонтально-поворотный термопресс heat press 29/38",
      price: "22 000 р.",
      img: {
        src: "heat_press_29-38.jpg",
        width: "",
        height: "",
        alt: "Горизонтально-поворотный термопресс heat press 29/38"
      },
      dbID: "19",
    },
    {
      name: "Термопресс tp 38 с выдвижным столом",
      price: "33 000 р.",
      img: {
        src: "tp-38.jpg",
        width: "",
        height: "",
        alt: "Термопресс tp 38 с выдвижным столом"
      },
      dbID: "20",
    },
    {
      name: "LBS650",
      price: "",
      img: {
        src: "lbs650.jpg",
        width: "",
        height: "",
        alt: "LBS650"
      },
      dbID: "25",
      id: "laminators"
    },
    {
      name: "Ножи для Rabbit N-серии 45 градусов",
      price: "300 р.",
      img: {
        src: "rabbit-45-knife.jpg",
        width: "",
        height: "",
        alt: "Ножи для Rabbit N-серии 45 градусов"
      },
      dbID: "21",
      id: "accessories"
    },
    {
      name: "Ножи для Rabbit N-серии 30 градусов",
      price: "300 р.",
      img: {
        src: "rabbit-30-knife.jpg",
        width: "",
        height: "",
        alt: "Ножи для Rabbit N-серии 30 градусов"
      },
      dbID: "22",
    },
    {
      name: "Ножи для Rabbit N-серии 60 градусов",
      price: "300 р.",
      img: {
        src: "rabbit-60-knife.jpg",
        width: "",
        height: "",
        alt: "Ножи для Rabbit N-серии 60 градусов"
      },
      dbID: "23",
    },
    {
      name: "МАРЗАН",
      price: "700 р.",
      img: {
        src: "marzan.jpg",
        width: "",
        height: "",
        alt: "МАРЗАН"
      },
      dbID: "24",
    },
  ];

mixin catalog(className)
  section(class=className id="catalog")
    p.catalog__title Надежные и недорогие в обслуживании режущие плоттеры и термопрессы, с гарантией
    ul.catalog__plotters
      each plotter in catalogPlotters
        li.catalog__plotter
          +plotter-card("catalog__plotter-card plotter-card", plotter)