.catalog {
  padding: 20px 4vw;

  @media (min-width: $breakpoint-large) {
    position: relative;
    z-index: 2;

    // display: grid;
    // grid-template-columns: 1fr 1fr;
    grid-column: 2;

    background-color: #d4cac5;
  }

  &__title {
    margin-bottom: 15px;

    font-size: 1.5rem;
    // font-weight: bold;
    text-align: center;

    // @media (min-width: $breakpoint-large) {
    //   grid-column: 1 / -1;
    // }
  }

  &__plotters {
    @media (min-width: $breakpoint-large) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 5px 15px;
    }
  }

  &__plotter {
    @media (min-width: $breakpoint-large) {
      display: flex;
    }
  }
}