mixin specs-popup-window(className)
  section(class=className)
    .specs-popup-window__content
      button.specs-popup-window__close-btn
      h2.specs-popup-window__title
      table.specs-popup-window__specs
      p.specs-popup-window__stub-text