include build/project.pug

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= "Плоттеры, станки, комплектующие в России"
    link(rel="stylesheet", href="styles.css")
    link(rel="shortcut icon" href="img/favicon.ico" type="image/x-icon")
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Exo+2&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet")
    include yandex-metrika.html
    include yandex-metrika-with-goals.html
  
  body
    .wrapper
      +specs-popup-window("specs-popup-window visually-hidden")
      +order-popup-window("order-popup-window visually-hidden")
      +page-header("page-header")
      +description("description")
      +catalog("catalog")
      +shipment("shipment")
      +drivers("drivers")
      +video("video")
      +contacts("contacts")
      +page-footer("page-footer")

    script(src="goods.js")
    script(src="script.js")