mixin popup-window(className)
  section(class=className)
    .popup-window__content
      button.popup-window__close-btn
      h2.popup-window__title
      table.popup-window__specs
      p.popup-window__stub-text