html {
  font-size: 16px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Exo 2', sans-serif;

  background-color: #d4cac5;
  overflow-x: hidden;
}

.visually-hidden {
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  border: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  overflow: hidden;
}

button:focus {
  outline: 1px solid #0069ed;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 101vh;

  background-color: #d4cac5;

  @media (min-width: $breakpoint-large) {
    display: grid;
    grid-template-columns: 300px 1fr;
  }
}

.shown {
  transform: scaleY(1);
}

.btn {
  padding: 20px 40px;

  font-family: $font-default;
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  text-shadow: #413f35 2px 2px;

  background-image: linear-gradient(to right, rgb(111, 0, 255), rgb(158, 55, 255));
  border: 1px solid rgb(111, 0, 255);
  border-radius: 10px;
  
  transition: background-image 1s;

  &_small {
    padding: 12px 25px;

    font-size: 1.4rem;
  }

  &:hover {
    background-image: linear-gradient(to left, rgb(111, 0, 255), rgb(158, 55, 255));
  }
}