.page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  
  text-align: center;
  background-color: #d4cac5;
  // background-color: black;

  @media (min-width: $breakpoint-medium) {
    position: relative;

    display: grid;
    grid-template-columns: 3fr 2fr;
  }

  @media (min-width: $breakpoint-large) {
    position: fixed;
    top: 0;
    bottom: 0;
    
    display: grid;
    grid-template-columns: 100%;
    // justify-content: space-between;
    width: 300px;
    // min-height: 100vh;
    grid-column: 1;
    // grid-row: /1;

    border-right: 1px solid gray;
    overflow-y: auto;
  }

  &__home-link {
    display: block;
    margin-bottom: 15px;

    color: transparent;
    text-decoration: none;

    @media (min-width: $breakpoint-medium) {
      justify-self: center;
    }
  }

  &__logo {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    
    padding: 15px 20px;

    border: 2px solid black;
    background-color: #a99e98;
    box-shadow: 0 0 7px 0;

    // @media screen and (min-width: $breakpoint-medium) {
    //   margin-left: 18px;
    // }

    @media (min-width: $breakpoint-medium) {
      justify-self: center;
    }

    @media (min-width: $breakpoint-large) {
      // justify-self: center;
    }

    &:before {
      position: absolute;
      content: "";
      z-index: -1;

      top: 9px;
      left: -36px;
      width: 0;
      height: 0;

      border-top: 30px solid #544943; 
      border-bottom: 30px solid #544943; 
      border-right: 17px solid #544943; 
      border-left: 17px solid transparent; 

      @media (min-width: $breakpoint-large) {
        display: none;
      }
    }

    &:after {
      position: absolute;
      content: "";
      z-index: -1;

      top: 9px;
      right: -36px;
      width: 0;
      height: 0;

      border-top: 30px solid #544943; 
      border-bottom: 30px solid #544943; 
      border-left: 17px solid #544943; 
      border-right: 17px solid transparent;
      
      @media (min-width: $breakpoint-large) {
        display: none;
      }
    }
  }

  &__title {
    font-family: "Roboto Slab", serif;
    color: #413f35;
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__description {
    font-size: 0.9rem;
    color: #796c63;
  }

  &__contact-btns {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    background-color: #dddddd;
    border: 1px solid rgb(131, 131, 131);

    @media (min-width: $breakpoint-medium) {
      display: grid;
      grid-column: 1 / -1;
      justify-self: center;
    }

    @media (min-width: $breakpoint-large) {
      display: flex;
      
    }
  }

  &__contact-block {
    padding: 10px 20px;

    font-size: 1.4rem;
    font-weight: 600;
    text-decoration: none;
    color: rgb(17, 54, 85);

    &:not(:last-child) {
      border-bottom: 1px dashed gray;
    }

    &:not(:last-of-type) {
      @media (min-width: $breakpoint-medium) {
        border-right: 1px dashed gray;
      }

      @media (min-width: $breakpoint-large) {
        border-right: none;
      }
    }

    @media (min-width: $breakpoint-medium) {
      grid-row: 1;
    }
  }

  &__social-buttons {
    display: flex;
    justify-content: space-evenly;
    padding-top: 5px;
    padding-bottom: 5px;

    background-color: #c7c4c4;

    @media (min-width: $breakpoint-medium) {
      grid-column: 1 / 3;
      grid-row: 2;
      align-self: stretch;
    }
  }

  &__order-btn {
    @media (min-width: $breakpoint-medium) {
      grid-column: 1 / -1;
      justify-self: center;
    }
    
  }

  &__menu-container {
    position: relative;
    
    display: flex;
    width: 100vw;
    margin-bottom: 15px;

    @media (min-width: $breakpoint-medium) {
      position: unset;

      align-self: end;
      width: auto;
    }

    @media (min-width: $breakpoint-large) {
      align-self: stretch
    }
  }

  &__main-menu {
    position: absolute;
    top: calc(23px + 1.6rem);
    left: 0;
    z-index: 3;

    transform-origin: top;
    transform: scaleY(0);
    transition: transform 0.25s;

    @media (min-width: $breakpoint-medium) {
      top: 97px;
    }

    @media (min-width: $breakpoint-large) {
      position: initial;

      height: auto;

      transform: unset;
      transition: unset;
    }
  }
}

.menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 8px 20px;

  font-size: 1.6rem;
  // font-family: $font-default;
  font-family: "Roboto Slab", serif;

  background-color: #e7eff3;
  border: 1px solid gray;
  border-radius: 5px;

  &__icon {
    margin-left: 30px;
  }

  @media (min-width: $breakpoint-large) {
    display: none;
  }
}

