mixin page-header(className)
  header(class=className id="page-header")
    a.page-header__home-link(href="#")
      section.page-header__logo
        h2.page-header__title CPU-Plotters
        p.page-header__description (плоттеры и комплектующие)
    .page-header__menu-container
      button.page-header__menu-btn.menu-btn Меню
        img.menu-btn__icon(src="components/page-header/img/hamburger-icon.png" width="30" height="30" alt="Кнопка меню")
      +main-menu("page-header__main-menu main-menu")
    section.page-header__contact-btns
      a.page-header__contact-block(href="tel://+79622021066") 📞 8 (962) 202-10-66
      a.page-header__contact-block(href="tel://+79159916553") 📞 8 (915) 991-65-53
      .page-header__contact-block.page-header__social-buttons
        a.page-header__social-btn(target="_blank" href="https://api.whatsapp.com/send?phone=79622021066&text=")
          img(src="components/page-header/img/whatsapp-icon.svg" width="35" height="35" alt="whatsapp")
        a.page-header__social-btn(target="_blank" href="viber://chat?number=%2B79622021066")
          img(src="components/page-header/img/viber-icon.svg" width="35" height="35" alt="viber")
    button.page-header__order-btn.btn Заказать