.order-popup-window {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 5vh;
  padding-bottom: 5vh;

  background-color: rgba(0, 0, 0, 0.7);

  transition: all 0.5s linear;

  &__content {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    max-width: 700px;
    min-height: 200px;
    max-height: 90vh;
    padding: 48px;

    background-color: white;
    border: 8px solid #5e4773;

    overflow-y: auto;
  }

  &__close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
  
    width: 30px;
    height: 30px;
    padding: 5px;
  
    border: none;
    background: none;
  
    transition: all 0.5s linear;
  
    cursor: pointer;

    &::before {
      position: absolute;
      content: "";
      top: 50%;
      left: 50%;

      width: 20px;
      height: 3px;
      
      background-color: black;

      transform: translate(-50%, -50%) rotate(-45deg);
    }

    &::after {
      position: absolute;
      content: "";
      top: 50%;
      left: 50%;

      width: 20px;
      height: 3px;
      
      background-color: black;

      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::hover {
      opacity: 0.75;
    }
  }

  &__title {
    margin-bottom: 20px;

    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }

  &__picture {
    width: 85%;
    margin-bottom: 30px;

    border-radius: 25px;
  }

  &__text {
    margin-bottom: 20px;

    font-size: 1.5rem;
  }

  &__form {
    @media (min-width: $breakpoint-medium) {
      display: grid;
      gap: 10px;
      grid-template-columns: 1fr 1fr;
    } 
  }

  &__name-block,
  &__phone-block,
  &__message-block,
  &__select-menu {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  &__name-block {
    grid-column: 1;
  }

  &__phone-block {
    grid-column: 2;
  }

  &__message-block,
  &__select-menu,
  &__submit-btn {
    grid-column: 1 / -1;
  }

  &__input-label,
  &__textarea-label {
    margin-bottom: 3px;
  }

  &__select {
    font-size: 1rem;
    font-family: "Exo 2", sans-serif;
  }

  &__textarea {
  }

  &__submit-btn {
    width: 100%;
  }
}