-
  const mainMenuItems = [
    "Режущие плоттеры",
    "Термопрессы",
    "Комплектующие",
    "Доставка и оплата",
    "Контакты",
    "Реквизиты",
    "Драйверы"
  ]

mixin main-menu(className)
  nav(class=className id="main-menu")
    ul.main-menu__list
      each item in mainMenuItems
        li.main-menu__item= item