-

mixin contacts(className)
  section(class=className id="contacts")
    h2.contacts__title Контакты
    p.contacts__name.contacts__plain-text Мартынов Виталий Геннадьевич
    p.contacts__inn.contacts__plain-text ИНН: 760407126734
    p.contacts__ogrn.contacts__plain-text ОГРН: 314760426500022
    p.contacts__bank-info-title.contacts__plain-text Банковские реквизиты:
    p.contacts__rs.contacts__plain-text р/с 40802810902000005637
    p.contacts__ks.contacts__plain-text к/с 30101810300000000760
    p.contacts__legal-address-title.contacts__plain-text Юридический адрес:
    p.contacts__legal-address.contacts__plain-text 150043, г.Ярославль, ул.Белинского, д.3А, кв.80
    p.contacts__physical-address-title.contacts__plain-text Физический адрес:
    p.contacts__physical-address.contacts__plain-text г.Ярославль, 1-й Промышленный проезд, д.14
    p.contacts__phone.contacts__plain-text 8 (962) 202-10-66