.contacts {
  grid-column: 2; 
  padding: 40px 45px 60px;

  color: white;
  
  background: url(img/contacts/bg.jpg) no-repeat 100% 100%;
  background-size: cover;
  border-bottom: 1px solid black;

  &__title {
    margin: 20px;
    margin-bottom: 32px;

    font-size: 2rem;
    text-align: center;
  }

  &__plain-text {
    margin-bottom: 10px;
    font-size: 1.2rem;
  }

  &__name {
    font-weight: bold;
  }

  &__name, 
  &__ogrn, 
  &__ks, 
  &__legal-address,
  &__physical-address {
    margin-bottom: 20px;
  }
}