.description {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: white;

  @media (min-width: $breakpoint-large) {
    position: relative;

    grid-column: 2;
  }

  & > * {
    position: relative;
    z-index: 2;
  }

  &__backdrop {
    position: absolute;
    z-index: 1;

    width: 100%;

    background: no-repeat url(img/description/hero_image.jpg);
    background-size: cover;
    filter: brightness(0.8) contrast(0.5);
  }

  &__products-types {
    display: flex;
    flex-direction: column;
    margin: 20px 20px;
  }

  &__products-type {
    // margin: 20px;
    margin-bottom: 30px;

    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 1px black;

    filter: unset;
  }

  &__points {
    margin: 30px 5vw 0 10vw;

    list-style-type: initial;
  }

  &__point {
    margin-bottom: 15px;

    font-size: 1.5rem;
    color: white;
    text-shadow: 1px 1px 3px black;
  }

  &__catalog-link {
    margin-top: 20px;
    margin-bottom: 20px;

    text-decoration: none;
  }
}